.flex {
  display: flex;
  align-items: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.stretch {
  align-items: stretch;
}

.group {
  margin: .2em;
}

button {
  margin: 2px;
  padding: 6px !important;
}

.justify-start {
  justify-content: flex-start;
}
